POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=suppgain
# Host machine port -> container postgres:5432
# pgAdmin Desktop uses localhost:POSTGRES_PORT
POSTGRES_PORT=5433

PGADMIN_DEFAULT_EMAIL=admin@suppgain.local
PGADMIN_DEFAULT_PASSWORD=admin123
# Docker pgAdmin web UI
PGADMIN_PORT=5050

FRONTEND_PORT=5173
VITE_API_BASE_URL=http://localhost:5260
